extends layout

block content
	.container
		h1 单词词尾工具
	.container
		.row
			form.form-inline(action="/",method="POST")
				.form-group
					//- label.form-control-label 单词
					input.form-control(type="text",name="word",placeholder="输入要测试的单词",required)
				| 
				button.btn.btn-primary(type="submit") 提交
	.container.m-a-lg
		.row
			p 转换为复数:
				span=word.pluralize
			p 转换为单数:
				span=word.singularize
			p 做为外键:
				span=word.fk
			//- p 驼峰规则命名:
			//- 	span=word.camelize
			//- p 驼峰规则js命名:
			//- 	span=word.camelizejs
			//- p 蛇形规则命名:
			//- 	span=word.underscore
			p 模型单数方法:
				span=word.belongsTo_get
				| 
				span=word.belongsTo_set
				| 
				span=word.belongsTo_add
			p 模型复数方法:
				span=word.hasMany_get
				| 
				span=word.hasMany_set
				| 
				span=word.hasMany_add
